/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "font-awesome-sprockets";
@import "font-awesome";
@import url('https://fonts.googleapis.com/css?family=Anton|Damion&display=swap');

/* 基本設定 */

// フッターを一番下に配置する設定を含む
html {
  height: 100%;
}

body {
  background-image: url("index.jpg");
  font-family: 游ゴシック体, "Yu Gothic", YuGothic, "ヒラギノ角ゴシック Pro",
  "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, Osaka, "ＭＳ Ｐゴシック",
  "MS PGothic", sans-serif;
  min-height: 100%;
  display: flex;
  flex-direction: column;

  div.content {
    flex: 1;
  }
}

// フォーム選択時にplaceholderを無効
input:focus::placeholder {
  color: transparent;
  transition: .1s;
}

input:focus::-webkit-input-placeholder {
  color: transparent;
  transition: .1s;
}

input:focus:-moz-placeholder {
  color: transparent;
  transition: .1s;
}

input:focus::-moz-placeholder {
  color: transparent;
  transition: .1s;
}

// placeholderの色を薄くする
.form-control::placeholder {
  color: #bbb;
}

.form-control::-ms-input-placeholder {
  color: #bbb;
}

.form-control::-ms-input-placeholder {
  color: #bbb;
}

// tableの境界線を消す

.table td {
  border: none;
}

// エラーの出たフォームのレイアウトを崩れるのを防止＋赤枠に変更
.field_with_errors {
  display: contents;
  input {
    border-color: #dc3545;
  }
}

// フラッシュメッセージを消す
.delete_flush_message {
  opacity: 0;
  visibility: hidden;
  transition: opacity 1s ease-out, visibility 1s ease-out;
}

// クリアボタン
span.clear-button {
  visibility: hidden;
  position: absolute;
  left: 0.75rem;
  top: 0.5rem;
  margin: auto;
  cursor: pointer;
  color: #bbb;
  z-index: 10;
}

// container-fluid のオーバーライド
.container-fluid {
  margin-right: auto;
  margin-left: auto;
  max-width: 992px;
}

// Twitterボタンの色

.btn-twitter {
  color: white;
  background-color: #42aeec;
  border-color: #42aeec;
  &:hover {
    color: white;
    background-color: darken(#42aeec, 10%)
  }
}

/* ナビバー */
nav.navbar {
  div.dropdown-menu {
    background-image: url("index.jpg");
  }

  a.navbar-brand {
    font-family: 'Anton', sans-serif;
    //font-family: 'Damion', cursive;
  }

  @media screen and (min-width: 576px) {

    li.active {
      border-radius: 10px;
      transition: background-color .5s;

      &:hover {
        background-color: #fdf;
      }
    }

    li.nav-logout:hover {
      background-color: #f88;
    }

    div.dropdown-menu {

      a.dropdown-item {
        transition: background-color .3s;

        &:hover {
          background-color: #fcf;
        }
      }
    }
  }
}

footer {
  height: 1.4rem; /*フッターの高さ*/

  hr, div, p {
    margin: 0;
    padding: 0;
    font-size: 0.8rem;
  }
}

/* 横線 */

// 左右にボーダー

.text-divide {
  color: #444;
  font-size: 1rem;
  display: flex;
  align-items: center;

  &:before, &:after {
    content: "";
    flex-grow: 1;
    height: 1px;
    background: #444;
    display: block;
  }

  &:before {
    margin-right: .4em;
  }

  &:after {
    margin-left: .4em;
  }
}