/* 自己紹介サイト */

.table td {

  &.site-name {
    width: 25%;
    max-width: 300px;
  }

  &.site-url {
    width: 75%;
  }

  &.site-name, &.site-url {
    padding: 0.5rem 0 0 0;
  }

  @media (max-width: 767px) {
    display: block;
    width: 100% !important;

    &.site-url {
      padding: 0;
    }
  }
}

.my-nickname {
  max-width: 300px;
}

input.site-form {
  padding-left: 2rem;
}